{{define "yield"}}
    <font color="#cccccc">
    <h1>Frequently Asked Questions</h1>

    <ul class = "text-light">
        <li> Why is HTML so annoying</li>
        <li> This is an un-ordered list</li>
        <li> It should have bullet points</li>
        <li> I should probably move my html to a separate folder</li>
    </ul>
    <p>
        testing this shit out
    </p>
</font>

{{end}}